﻿@using WebAppAdmin.Areas.Admin.Helpers
@using WebAppAdmin.Areas.Admin.Resources
@using WebAppAdmin.Areas.Admin.Resources.Shared
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Areas/Admin/Content/css/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Areas/Admin/Content/css/bootstrap-theme.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Areas/Admin/Content/css/font-awesome.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Areas/Admin/Content/css/webapp-admin.css")" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Entity")">WebApp Admin</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    @Html.NavItem(_Layout.Entities, "Index", "Entity")
                    @Html.NavItem(_Layout.EntityViews, "Index", "EntityView")
                    @Html.NavItem(_Layout.EntityResources, "Index", "EntityResource")
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        @RenderBody()
    </div>
    <script type="text/html" id="errors_tmpl">
        <div id="errors-panel" class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <ul>
                <%for (var i = 0, length = errors.length; i < length; i++) {%>
                <li><%=errors[i]%></li>
                <%}%>
            </ul>
        </div>
    </script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/jquery.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/bootstrap.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/jquery.history.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/router.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/tmpl.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/jwm.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/webapp-admin.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/init-widgets.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/entity-bind.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/progress-button.js")"></script>
    <script>
        WebAppAdmin.Culture = "@System.Threading.Thread.CurrentThread.CurrentCulture.Name";
        if (!window.FormData) {
            window.alert('@Messages.Your_browser_does_not_support_HTML5_upload');
        }
    </script>
</body>
</html>
