﻿@model WebAppAdmin.Areas.Admin.Models.EditView
@using WebAppAdmin.Areas.Admin.Helpers
@using WebAppAdmin.Areas.Admin.Resources.Entity
@{
    WebAppAdmin.UI.Core.ViewContext viewContext = new WebAppAdmin.UI.Core.ViewContext();
    Model.View.Render(viewContext);
}
<h1>@ViewBag.Heading</h1>
@Html.Raw(viewContext.Content)
<input id="view-context-resources" type="hidden" value="@Json.Encode(viewContext.Resources)" />
<div class="form-group">
    <button id="save-btn" class="btn btn-primary" type="button">@_Edit.Save</button>
    <button id="close-btn" class="btn btn-default" type="button">@_Edit.Close</button>
</div>
<script src="~/Areas/Admin/Content/js/entity-edit.js"></script>
