﻿@model WebAppAdmin.Areas.Admin.Models.ListView
@using WebAppAdmin.Areas.Admin.Helpers
@using WebAppAdmin.Areas.Admin.Resources
@using WebAppAdmin.Areas.Admin.Resources.Entity
<h1>@ViewBag.Heading</h1>
@if (Model.ModelErrors != null 
    && Model.ModelErrors.Errors.Count > 0)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <ul>
            @foreach (var item in Model.ModelErrors.Errors)
            {
                <li>@item</li>
            }
        </ul>
    </div>
}
<div class="btn-toolbar entity-list-toolbar" role="toolbar">
    <div class="btn-group">
        <button id="create-entity" class="btn btn-default" type="button" title="@_List.Create">
            <i class="fa fa-plus"></i>
        </button>
    </div>
    <div class="btn-group">
        <button id="delete-entity" class="btn btn-default" type="button" title="@_List.Delete">
            <i class="fa fa-remove"></i>
        </button>
    </div>
    <div class="btn-group">
        <button id="filter-entity-list" class="btn btn-default btn-filter@(Model.ShowFilter?" active":"")" type="button" title="@_List.Filter">
            <i class="fa fa-filter"></i>
        </button>
        @if (Model.ShowFilter)
        {
            <div class="btn-filter-active"></div>
        }
    </div>
</div>
@if (Model.ShowFilter)
{
    <div class="btn-toolbar entity-list-filter">
        <table id="entity-list-filter-table" class="table">
            @foreach (var item in Model.Filter)
            {
                <tr>
                    <td>
                        <label>@(((EntityResourceManager)ViewBag.ResourceManager).GetString(item.PropertyName))</label>
                        <input type="hidden" name="PropertyName" value="@item.PropertyName" />
                    </td>
                    <td>
                        <select name="Operator" class="form-control">
                            @foreach (var oper in ListViewManager.GetFilterItemOperatorList(Model, item))
                            {
                                <option value="@oper.ToString()" @(item.Operator == oper ? " selected" : "")>@Operators.ResourceManager.GetString(oper.ToString())</option>
                            }
                        </select>
                    </td>
                    <td @(Model.ModelErrors != null && Model.ModelErrors.PropertyErrors.ContainsKey(item.PropertyName) ? " class=has-error" : "")>
                        <input type="text" class="form-control" name="Value" value="@(item.Value!=null?item.Value.ToString():"")" />
                    </td>
                </tr>
            }
            <tr>
                <td colspan="3" align="right">
                    <button id="apply-filter-btn" class="btn btn-primary" type="button">@_List.Apply</button>
                    <button id="clear-filter-btn" class="btn btn-default" type="button">@_List.Clear</button>
                    <button id="close-filter-btn" class="btn btn-default" type="button">@_List.Close</button>
                </td>
            </tr>
        </table>
    </div>
}
<table id="entity-list-table" class="table table-bordered entity-list-table">
    <tr>
        <th class="entity-list-table-header entity-list-table-header-selector">
            <input id="select-entity-list" type="checkbox" />
        </th>
        @foreach (var propItem in Model.Properties)
        {
            if (propItem.IsActive)
            {
                <th class="entity-list-table-header entity-list-table-column">
                    @(((EntityResourceManager)ViewBag.ResourceManager).GetString(propItem.Name))&nbsp;
                    @if (Model.Sort[0].PropertyName == propItem.Name)
                    {
                        if (Model.Sort[0].SortDirection == WebAppAdmin.DataProvider.Core.SortDirection.Descending)
                        {
                            <i class="fa fa-caret-down desc"></i>
                        }
                        else
                        {
                            <i class="fa fa-caret-up asc"></i>
                        }
                    }
                    <input type="hidden" name="PropertyName" value="@propItem.Name" />
                </th>
            }
        }
    </tr>
    @if (Model.List != null)
    {
        object propVal = null;
        foreach (var listItem in Model.List)
        {
            <tr class="entity-list-item">
                <td class="entity-list-item-selector">
                    <input type="checkbox" class="entity-selector" />
                    <input type="hidden" value="@listItem.Key" class="entity-id" />
                </td>
                @foreach (var propItem in Model.Properties)
                {
                    if (propItem.IsActive)
                    {
                        propVal = listItem.Properties[propItem.Name];
                        propVal = (propVal != null ? propVal.ToString() : "");
                        <td>@propVal</td>
                    }
                }
            </tr>
        }
    }
</table>
@if (Model.List == null 
    || Model.List.Count == 0)
{
    <br />
    <div class="alert alert-info" role="alert">@Messages.No_data_are_available</div>
}
<nav>
    @if (Model.Count > Model.PageSize)
    {
        <ul class="pagination">
            @{
        int maxCountPages = 10;
        int startPageNumber = (Model.PageNumber - 1) / maxCountPages * maxCountPages + 1;
        int countPages = (Model.Count - (startPageNumber - 1) * Model.PageSize) / Model.PageSize;
        countPages = Model.Count - countPages * Model.PageSize > 0 ? countPages + 1 : countPages;
        countPages = Math.Min(countPages, maxCountPages);
        if (Model.PageNumber > 1)
        {
            <li>
                <a href="@Url.Action("Index",ListViewManager.GetPageRouteValues(Model,Model.PageNumber - 1))" class="router-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        if (startPageNumber > 1)
        {

            <li>
                <a href="@Url.Action("Index",ListViewManager.GetPageRouteValues(Model,startPageNumber - 1))" class="router-link" aria-label="Previous pages">
                    <span aria-hidden="true">...</span>
                </a>
            </li>
        }
        for (int i = startPageNumber; i < startPageNumber + countPages; i++)
        {
            <li @(Model.PageNumber == i ? "class=active" : "")><a href="@Url.Action("Index",ListViewManager.GetPageRouteValues(Model, i))" class="router-link">@i</a></li>
        }
        if ((startPageNumber - 1 + maxCountPages) * Model.PageSize < Model.Count)
        {
            <li>
                <a href="#?@Url.Action("Index",ListViewManager.GetPageRouteValues(Model,startPageNumber + maxCountPages))" class="router-link" aria-label="Next pages">
                    <span aria-hidden="true">...</span>
                </a>
            </li>
        }
        if (Model.PageNumber * Model.PageSize < Model.Count)
        {
            <li>
                <a href="@Url.Action("Index",ListViewManager.GetPageRouteValues(Model,Model.PageNumber+1))" class="router-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
            }
        </ul>
    }
</nav>
<i id="entity-list-progress" class="fa fa-spinner fa-spin fa-3x hidden"></i>
<script src="~/Areas/Admin/Content/js/entity-list.js"></script>
