﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>EntityList</title>
    <link href="@Url.Content("~/Areas/Admin/Content/css/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Areas/Admin/Content/css/bootstrap-theme.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Areas/Admin/Content/css/font-awesome.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Areas/Admin/Content/css/webapp-admin.css")" rel="stylesheet" />
</head>
<body>
    <div class="col-md-12">
        <div id="content">
        </div>
    </div>
    <script src="@Url.Content("~/Areas/Admin/Content/js/jquery.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/bootstrap.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/jquery.history.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/router.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/tmpl.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/jwm.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/webapp-admin.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/init-widgets.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/entity-bind.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/progress-button.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/entity-list-select.js")"></script>
</body>
</html>
