﻿@model IEnumerable<WebAppAdmin.Areas.Admin.Models.FileBrowserItem>
@using WebAppAdmin.Areas.Admin.Models

<ul class="file-items">
    @foreach (var item in Model)
    {
        <li class="file-item">
            @if (item.Type == FileBrowserItemType.Image)
            {
                <img src="@item.Url" alt="@item.Name" />
                <br />
                @item.Name <br />
                <input type="hidden" class="url @item.Type.ToString()" value="@item.Url" />
            }
            else if (item.Type == FileBrowserItemType.File)
            {
                <div class="file">
                    <i class="fa fa-file-o fa-2x"></i>
                    <br />
                    @item.Name <br />
                    <input type="hidden" class="url @item.Type.ToString()" value="@item.Url" />
                </div>
            }
            else if (item.Type == FileBrowserItemType.Directory)
            {
                <div class="file">
                    <i class="fa fa-folder-o fa-3x"></i>
                    <br />
                    @item.Name <br />
                    <input type="hidden" class="url @item.Type.ToString()" value="@item.Url" />
                </div>
            }
        </li>
    }
</ul>
