﻿@model IEnumerable<WebAppAdmin.Areas.Admin.Models.FileBrowserItem>
@using WebAppAdmin.Areas.Admin.Resources.FileBrowser
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@Browser.File_browser</title>
    <link href="@Url.Content("~/Areas/Admin/Content/css/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Areas/Admin/Content/css/bootstrap-theme.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Areas/Admin/Content/css/font-awesome.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Areas/Admin/Content/css/file-browser.css")" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        @if (this.ViewBag.Error != null)
        {
            <div id="errors-panel" class="alert alert-danger alert-dismissible" role="alert">
                <ul>
                    <li>@this.ViewBag.Error</li>
                </ul>
            </div>
        }
        else
        {
            <input id="upload-dir" type="hidden" value="@ViewBag.UploadDir" />
            <input id="directory" type="hidden" value="@ViewBag.UploadDir" />
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group">
                    <span id="file-upload" class="btn btn-link">@Browser.File_upload</span>
                    <input id="file" type="file" class="hidden" />
                </div>
                <div class="btn-group">
                    <span class="btn btn-link" data-toggle="modal" data-target="#create-folder-form">@Browser.Create_folder</span>
                </div>
            </div>
            <ol id="breadcrumb" class="breadcrumb hidden"></ol>
            <div id="content">@{Html.RenderPartial("_BrowserItems", Model);}</div>
        }
    </div>
    <div id="create-folder-form" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-group">
                        <label>@Browser.Name</label>
                        <input type="text" class="form-control" name="name" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="create-folder" type="button" class="btn btn-primary">@Browser.Create</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Browser.Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/Areas/Admin/Content/js/jquery.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/bootstrap.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/file-browser.js")"></script>
</body>
</html>
