﻿.container-fluid {
    min-width: 800px;
}

#content h1 {
    margin-top: 0px;
}

.entity-list-toolbar {
    margin: 0px 0px 10px -5px;
}

.entity-list-filter {
    margin: 0px 0px 10px 0px;
    padding: 16px;
    border: solid 1px #adadad;
}

.btn-filter-active {
    position: absolute;
    left: 0px;
    bottom: -11px;
    width: 100%;
    height: 12px;
    border-left: solid 1px #adadad;
    border-right: solid 1px #adadad;
    background: #ffffff;
    z-index: 10;
}

.btn-filter.active, .btn-filter.active:hover {
    background: none;
    box-shadow: none;
}

.entity-list-filter .table {
    margin: 0px;
}

    .entity-list-filter .table td {
        border: none;
    }

.entity-list-table {
    margin: 0px;
}

.entity-list-table-header {
    background-color: #f5f5f5;
}

.entity-list-table-column {
    cursor: pointer;
}

.entity-list-table-header-selector {
    width: 29px;
}

.entity-list-item {
    cursor: pointer;
}

    .entity-list-item:hover > td {
        background-color: #eee;
    }


#entity-list-progress {
    position: absolute;
    left: 0px;
    top: 0px;
}

.ui-el-selector {
    position: absolute;
    z-index: 1000;
    cursor: pointer;
}

    .ui-el-selector:hover, .ui-el-selector.active {
        border: solid 2px #428bca;
        display: block;
    }

.table-form-control td {
    padding: 0px 10px 10px 0px;
}

.table-form-control .checkbox {
    margin: 0px;
}

.table-form-control td {
    vertical-align: top;
}

.btn-prop-order {
    cursor: pointer;
    padding: 0px 4px 0px 0px;
    border: none;
    background: #ffffff;
}

#panel-properties {
    position: fixed;
}

    #panel-properties table td {
        vertical-align: middle;
    }

    #panel-properties table tr:first-child td {
        border-top: none;
    }

    #panel-properties .checkbox {
        margin-top: 0px;
    }

.list-view-page-size {
    width: 100px;
}
