﻿@model WebAppAdmin.UI.Elements.Collection
@using WebAppAdmin.Areas.Admin.Resources.EntityView
<div id="collection-editor">
    <input type="hidden" value="@Model.Id" class="uiElementId" />
    <table class="table table-condensed">
        @{
            if (Model.Columns != null)
            {
                int count = Model.ItemControls.Count;
                for (int i = 0; i < count; i++)
                {
                    var column = Model.Columns[i];
                    string controlName = column.Control.GetType().Name;
                    WebAppAdmin.UI.Core.Attribute attribute = column.Control.Attributes.Where(item => item.Name == "data-control").FirstOrDefault();
                    if (attribute != null)
                    {
                        controlName = attribute.Value;
                    }
                    <tr>
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="Columns[@i].Visible" class="Visible" @(column.Visible ? "checked" : "")> @column.Control.Name
                                </label>
                            </div>
                            <div class="form-group">
                                <input type="hidden" value="@column.Control.Name" />
                                <select name="Columns[@i].Control" class="form-control" disabled>
                                    <option value="@controlName" selected>@controlName</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>@_EditView.Class</label>
                                <input type="text" name="Columns[@i].Control.Class" value="@column.Control.Class" class="form-control ControlClass">
                            </div>
                        </td>
                        <td>
                            <button class="btn-prop-order btn-prop-order-up @(i == 0 ? " invisible" : "")"><i class="fa fa-arrow-up"></i></button>
                            <button class="btn-prop-order btn-prop-order-down @(i == count - 1 ? " invisible" : "")"><i class="fa fa-arrow-down"></i></button>
                        </td>
                    </tr>
                }
            }
        }
    </table>
    <script src="~/Areas/Admin/Content/js/editors/collection-editor.js"></script>
</div>