﻿@model WebAppAdmin.UI.Core.Control
@using WebAppAdmin.Areas.Admin.Resources.EntityView
<div id="control-editor">
    <div class="form-group">
        <input type="hidden" value="@Model.Id" class="uiElementId" />
        <label>@_EditView.Editor</label>
        <select class="form-control" disabled>
            @{
                string controlName = Model.GetType().Name;
                WebAppAdmin.UI.Core.Attribute attribute = Model.Attributes.Where(item => item.Name == "data-control").FirstOrDefault();
                if (attribute != null)
                {
                    controlName = attribute.Value;
                }
                <option value="@controlName" selected>@controlName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>@_EditView.Class</label>
        <input type="text" name="Class" value="@Model.Class" class="form-control">
    </div>
    <script src="~/Areas/Admin/Content/js/editors/control-editor.js"></script>
</div>