﻿@model WebAppAdmin.Areas.Admin.Models.EditView
@using WebAppAdmin.DataProvider.Core
@using WebAppAdmin.Areas.Admin.Resources
@using WebAppAdmin.Areas.Admin.Resources.EntityView
@{
    WebAppAdmin.UI.Core.ViewContext viewContext = new WebAppAdmin.UI.Core.ViewContext();
    Model.View.Render(viewContext);
}
<h1>@ViewBag.Heading</h1>
<div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#view-panel" aria-controls="view-panel" role="tab" data-toggle="tab">@_EditView.View</a></li>
        <li role="presentation"><a href="#controller-panel" aria-controls="controller-panel" role="tab" data-toggle="tab">@_EditView.Controller</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="view-panel">
            <div class="row">
                <div id="edit-view-panel" class="col-md-10">
                    <input id="view-context-resources" type="hidden" value="@Json.Encode(viewContext.Resources)" />
                    @Html.Raw(viewContext.Content)
                </div>
                <div class="col-md-2">
                    <div id="panel-properties" class="panel panel-default">
                        <div class="panel-heading">@_EditView.Properties</div>
                        <div class="panel-body">
                            @_EditView.Click_on_an_element_of_view
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="controller-panel">
            <div class="form-group">
                <label>@_EditView.Controller_name</label>
                <input type="text" name="ControllerName" value="@Model.ControllerName" class="form-control">
            </div>
            <div class="form-group">
                <label>@_EditView.Action_name</label>
                <input type="text" name="ActionName" value="@Model.ActionName" class="form-control">
            </div>
            <div class="form-group">
                <label>@_EditView.View_name</label>
                <input type="text" name="Name" value="@Model.Name" class="form-control">
            </div>
            <input type="hidden" name="EntityManagerName" value="@Model.EntityManagerName" />
            <input type="hidden" name="EntityName" value="@Model.EntityName" />
        </div>
    </div>
</div>
<div class="form-group">
    <button id="save-btn" class="btn btn-primary" type="button">@_EditView.Save</button>
    <button id="close-btn" class="btn btn-default" type="button">@_EditView.Close</button>
</div>
<script src="~/Areas/Admin/Content/js/edit-view.js"></script>
