﻿@model WebAppAdmin.Areas.Admin.Models.EntityViews
@using WebAppAdmin.Areas.Admin.Resources.EntityViews
@using WebAppAdmin.Areas.Admin.Resources
@{
    WebAppAdmin.UI.Core.ViewContext viewContext = new WebAppAdmin.UI.Core.ViewContext();
    Model.EditView.View.Render(viewContext);
}
<h1>@Model.EditView.EntityName</h1>
<div id="entityviews-panel" class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#entityviews-panel" href="#EditView">
                    @_EntityViews.EditView
                </a>
            </h4>
        </div>
        <div id="EditView" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="row">
                    <div id="editview-panel" class="col-md-10">
                        @Html.Raw(viewContext.Content)
                    </div>
                    <div class="col-md-2">
                        <div id="panel-properties" class="panel panel-default hidden">
                            <div class="panel-heading">Properties</div>
                            <div class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label>@_EntityViews.Property_editor</label>
                                        <select id="property-editor" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="panel-commands" class="panel panel-default">
                            <div class="panel-heading">@_EntityViews.Commands</div>
                            <div class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <button type="button" class="btn btn-default btn-lg btn-block" data-command="add">@_EntityViews.Add</button>
                                    <button type="button" class="btn btn-default btn-lg btn-block hidden" data-command="remove">@_EntityViews.Remove</button>
                                    @*<button type="button" class="btn btn-default btn-lg btn-block" data-command="clear"> @_EntityViews.Clear</button>
                                     <button type="button" class="btn btn-default btn-lg btn-block" data-command="reload"> @_EntityViews.Reload</button>*@
                                    <button type="button" class="btn btn-default btn-lg btn-block hidden" data-command="up">@_EntityViews.Up</button>
                                    <button type="button" class="btn btn-default btn-lg btn-block hidden" data-command="down">@_EntityViews.Down</button>
                                </div>
                            </div>
                        </div>
                        <div id="panel-modal" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title">@_EntityViews.Add_properies</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="alert alert-danger hidden" role="alert">
                                            @Messages.The_properties_are_not_selected
                                        </div>
                                        <div class="modal-body-content">

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="add-props-btn" type="button" class="btn btn-primary" data-dismiss="modal">@_EntityViews.Add</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">@_EntityViews.Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script type="text/html" id="property_item_tmpl">
                            <%
                            var item = null;
                            var viewElItem = null;
                            for (var i = 0, length = properties.length; i < length; i++) {
                            item = properties[i];
                            %>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="add-props-selector"> <strong><%=item.propertyName%></strong>
                                        <input type="hidden" value="<%=item.propertyName%>" class="add-props-val" />
                                    </label>
                                </div>
                                <select class="form-control add-props-viewelement-selector">
                                    <% for (var i_veiwEl = 0, length_veiwEl = viewElementItems.length; i_veiwEl < length_veiwEl; i_veiwEl++) {
                                    viewElItem = viewElementItems[i_veiwEl];
                                    %>
                                    <option value="<%=viewElItem.value%>"<%=(viewElItem.value == item.viewElement ? " selected" : "")%>><%=viewElItem.name%></option>
                                    <% } %>
                                </select>
                            </div>
                            <% } %>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#entityviews-panel" href="#ListView">
                    @_EntityViews.ListView
                </a>
            </h4>
        </div>
        <div id="ListView" class="panel-collapse collapse">
            <div class="panel-body">
                ListView
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <button id="save-btn" class="btn btn-primary" type="button">@_EntityViews.Save</button>
</div>
<script src="~/Areas/Admin/Content/js/entityviews.js"></script>
