﻿@model WebAppAdmin.Areas.Admin.Models.ListView
@using WebAppAdmin.DataProvider.Core
@using WebAppAdmin.Areas.Admin.Helpers
@using WebAppAdmin.Areas.Admin.Resources
@using WebAppAdmin.Areas.Admin.Resources.EntityView
<h1>@ViewBag.Heading</h1>
<div class="form-body" role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#view-panel" aria-controls="view-panel" role="tab" data-toggle="tab">@_ListView.View</a></li>
        <li role="presentation"><a href="#controller-panel" aria-controls="controller-panel" role="tab" data-toggle="tab">@_ListView.Controller</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="view-panel">
            <div class="form-group">
                <label>@_ListView.Properties</label>
                <table class="table-form-control" data-property-name="Properties">
                    @{
                        int propCount = Model.Properties.Count;
                        for (int i = 0; i < propCount; i++)
                        {
                            var propItem = Model.Properties[i];
                            <tr>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="hidden" name="Properties[@i].Name" class="PropertiesName" value="@propItem.Name" />
                                            <input type="checkbox" name="Properties[@i].IsActive" class="PropertiesIsActive" @(propItem.IsActive ? "checked" : "")> @(((EntityResourceManager)ViewBag.ResourceManager).GetString(propItem.Name))
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <button class="btn-prop-order btn-prop-order-up @(i == 0 ? " invisible" : "")"><i class="fa fa-arrow-up"></i></button>
                                    <button class="btn-prop-order btn-prop-order-down @(i == propCount - 1 ? " invisible" : "")"><i class="fa fa-arrow-down"></i></button>
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
            <div class="form-group">
                <label>@_ListView.Filter_properties</label>
                <table class="table-form-control" data-property-name="FilterProperties">
                    @{
                        propCount = Model.FilterProperties.Count;
                        for (int i = 0; i < propCount; i++)
                        {
                            var propItem = Model.FilterProperties[i];
                            <tr>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="hidden" name="FilterProperties[@i].Name" class="FilterPropertiesName" value="@propItem.Name" />
                                            <input type="checkbox" name="FilterProperties[@i].IsActive" class="FilterPropertiesIsActive" @(propItem.IsActive ? "checked" : "")> @(((EntityResourceManager)ViewBag.ResourceManager).GetString(propItem.Name))
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <button class="btn-prop-order btn-prop-order-up @(i == 0 ? " invisible" : "")"><i class="fa fa-arrow-up"></i></button>
                                    <button class="btn-prop-order btn-prop-order-down @(i == propCount - 1 ? " invisible" : "")"><i class="fa fa-arrow-down"></i></button>
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
            <div class="form-group">
                <label>@_ListView.Sort_by</label>
                <table class="table-form-control">
                    <tr>
                        <td>
                            <select name="SortDefault.PropertyName" class="form-control">
                                @foreach (var propItem in Model.Properties)
                                {
                                    <option value="@propItem.Name" @(propItem.Name == Model.SortDefault.PropertyName ? "selected" : "")>@(((EntityResourceManager)ViewBag.ResourceManager).GetString(propItem.Name))</option>
                                }
                            </select>
                        </td>
                        <td>
                            <select name="SortDefault.SortDirection" class="form-control">
                                <option value="Ascending" @(Model.SortDefault.SortDirection == WebAppAdmin.DataProvider.Core.SortDirection.Ascending ? "selected" : "")>asc</option>
                                <option value="Descending" @(Model.SortDefault.SortDirection == WebAppAdmin.DataProvider.Core.SortDirection.Descending ? "selected" : "")>desc</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="form-group">
                <label>@_ListView.Page_size</label>
                <input type="text" name="PageSize" value="@Model.PageSize" class="form-control list-view-page-size" />
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="controller-panel">
            <div class="form-group">
                <label>@_ListView.Controller_name</label>
                <input type="text" name="ControllerName" value="@Model.ControllerName" class="form-control">
            </div>
            <div class="form-group">
                <label>@_ListView.Action_name</label>
                <input type="text" name="ActionName" value="@Model.ActionName" class="form-control">
            </div>
            <div class="form-group">
                <label>@_ListView.View_name</label>
                <input type="text" name="Name" value="@Model.Name" class="form-control">
            </div>
        </div>
        <input type="hidden" name="EntityManagerName" value="@Model.EntityManagerName" />
        <input type="hidden" name="EntityName" value="@Model.EntityName" />
    </div>
</div>
<div class="form-group">
    <button id="save-btn" class="btn btn-primary" type="button">@_ListView.Save</button>
    <button id="close-btn" class="btn btn-default" type="button">@_ListView.Close</button>
</div>
<script src="~/Areas/Admin/Content/js/list-view.js"></script>
