﻿@model IEnumerable<WebAppAdmin.Areas.Admin.Models.EntityViewFile>
@using WebAppAdmin.Areas.Admin.Helpers
@using WebAppAdmin.Areas.Admin.Resources
@using WebAppAdmin.Areas.Admin.Resources.EntityView
<h1>@ViewBag.EntityName</h1>
<div class="btn-toolbar entity-list-toolbar" role="toolbar">
    <div class="btn-group">
        <button id="delete-entity" class="btn btn-default" type="button" title="@_List.Delete">
            <i class="fa fa-remove"></i>
        </button>
    </div>
</div>
<table id="entity-list-table" class="table table-bordered entity-list-table">
    <tr>
        <th class="entity-list-table-header entity-list-table-header-selector">
            <input id="select-entity-list" type="checkbox" />
        </th>
        <th class="entity-list-table-header entity-list-table-column">
            @_List.Type
        </th>
        <th class="entity-list-table-header entity-list-table-column">
            @_List.LastWriteDateTime
        </th>

    </tr>
    @foreach (var item in Model)
    {
        <tr class="entity-list-item">
            <td class="entity-list-item-selector">
                <input type="checkbox" class="entity-selector" />
                <input type="hidden" value="@item.Type" class="entity-id" />
            </td>
            <td>@item.Type</td>
            <td>@item.LastWriteDateTime</td>
        </tr>
    }
</table>
<i id="entity-list-progress" class="fa fa-spinner fa-spin fa-3x hidden"></i>
<script src="~/Areas/Admin/Content/js/entity-view-list.js"></script>

