﻿@model WebAppAdmin.UI.Elements.Panel
@using WebAppAdmin.Areas.Admin.Resources
@using WebAppAdmin.Areas.Admin.Resources.EntityView
<div id="panel-editor" class="form-group">
    <button type="button" class="btn btn-default btn-lg btn-block" data-command="add">@_EditView.Add</button>
    @if (Model.Parent != null)
    {
        <button type="button" class="btn btn-default btn-lg btn-block" data-command="remove">@_EditView.Remove</button>
        <button type="button" class="btn btn-default btn-lg btn-block" data-command="up">@_EditView.Up</button>
        <button type="button" class="btn btn-default btn-lg btn-block" data-command="down">@_EditView.Down</button>
    }
</div>
<div id="panel-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">@_EditView.Add_properties</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger hidden" role="alert">
                    @_EditView.The_properties_are_not_selected
                </div>
                <div class="modal-body-content">

                </div>
            </div>
            <div class="modal-footer">
                <button id="add-props-btn" type="button" class="btn btn-primary" data-dismiss="modal">@_EditView.Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@_EditView.Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="property_item_tmpl">
    <%
    var item = null;
    var control = null;
    for (var i = 0, length = properties.length; i < length; i++) {
    item = properties[i];
    %>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" class="add-props-selector"> <strong><%=item.propertyName%></strong>
                <input type="hidden" value="<%=item.propertyName%>" class="add-props-val" />
            </label>
        </div>
        <select class="form-control add-props-uielement-selector">
            <% for (var i_controls = 0, length_controls = item.controls.length; i_controls < length_controls; i_controls++) {
            control = item.controls[i_controls];
            %>
            <option value="<%=control%>"><%=control%></option>
            <% } %>
        </select>
    </div>
    <% } %>
</script>
<script src="~/Areas/Admin/Content/js/editors/panel-editor.js"></script>