﻿@using WebAppAdmin.Model.Core
@using WebAppAdmin.UI.Core
@using WebAppAdmin.Areas.Admin.Helpers
@using WebAppAdmin.Areas.Admin.Resources
@using WebAppAdmin.Areas.Admin.Resources.Shared
@{
    ViewBag.Title = _Layout.EntityViews;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-2">
        <div id="metamodel-items-panel" class="panel-group">
            @{
                foreach (var item in (IDictionary<string, IEnumerable<EntityItem>>)ViewBag.EntityItems)
                {
                    ResourceManager resourceManager = new EntityResourceManager(item.Key);
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#metamodel-items-panel" href="#@item.Key">
                                    @resourceManager.GetString(item.Key)
                                </a>
                            </h4>
                        </div>
                        <div id="@item.Key" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked">
                                    @foreach (var entityTypeItem in item.Value)
                                    {
                                        <li><a href="@Url.Action("Index", new { entityManagerName = entityTypeItem.EntityManagerName, entityName = entityTypeItem.EntityName, mode = "list" })" class="router-link">@resourceManager.GetString(entityTypeItem.EntityName)</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div id="content" class="col-md-10">
        <h2>@Messages.Select_an_entity_on_the_left_panel</h2>
    </div>
</div>
