﻿@model WebAppAdmin.Areas.Admin.Models.Culture
@using WebAppAdmin.Areas.Admin.Resources.EntityResource
<h1>@ViewBag.Heading</h1>
<div class="form-group form-body">
    <label>@_CultureEdit.Name</label>
    <input type="text" class="form-control" name="Name" value="@Model.Name">
</div>
<div class="form-group">
    <button id="save-btn" class="btn btn-primary" type="button">@_CultureEdit.Save</button>
    <button id="close-btn" class="btn btn-default" type="button">@_CultureEdit.Close</button>
</div>
<script src="~/Areas/Admin/Content/js/culture-edit.js"></script>
