﻿@model IEnumerable<WebAppAdmin.Areas.Admin.Models.Culture>
@using WebAppAdmin.Areas.Admin.Helpers
@using WebAppAdmin.Areas.Admin.Resources
@using WebAppAdmin.Areas.Admin.Resources.EntityResource
<h1>@_CultureList.CultureTitle</h1>
<div class="btn-toolbar entity-list-toolbar" role="toolbar">
    <div class="btn-group">
        <button id="create-entity" class="btn btn-default" type="button" title="@_CultureList.Create">
            <i class="fa fa-plus"></i>
        </button>
    </div>
    <div class="btn-group">
        <button id="delete-entity" class="btn btn-default" type="button" title="@_CultureList.Delete">
            <i class="fa fa-remove"></i>
        </button>
    </div>
</div>
<table id="entity-list-table" class="table table-bordered entity-list-table">
    <tr>
        <th class="entity-list-table-header entity-list-table-header-selector">
            <input id="select-entity-list" type="checkbox" />
        </th>
        <th class="entity-list-table-header entity-list-table-column">
            @_CultureList.Name
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="entity-list-item">
            <td class="entity-list-item-selector">
                <input type="checkbox" class="entity-selector" />
                <input type="hidden" value="@item.Name" class="entity-id" />
            </td>
            <td>@item.Name</td>
        </tr>
    }
</table>
@if (Model.Count() == 0)
{
    <br />
    <div class="alert alert-info" role="alert">@Messages.No_data_are_available</div>
}
<script src="~/Areas/Admin/Content/js/culture-list.js"></script>
