﻿@model IList<WebAppAdmin.Areas.Admin.Models.EntityResource>
@using WebAppAdmin.Areas.Admin.Resources.EntityResource
<h1>@ViewBag.Heading</h1>
<div class="form-body">
    @for (int i = 0; i < Model.Count; i++)
    {
        var item = Model[i];
        <div class="form-group resource-item">
            <label>@item.Name</label>
            <input type="hidden" name="[@i].Name" value="@item.Name" />
            <input type="text" class="form-control" name="[@i].Value" value="@item.Value">
        </div>
    }
</div>
<div class="form-group">
    <button id="save-btn" class="btn btn-primary" type="button">@_ResourceEdit.Save</button>
    <button id="close-btn" class="btn btn-default" type="button">@_ResourceEdit.Close</button>
</div>
<script src="~/Areas/Admin/Content/js/resource-edit.js"></script>
