﻿@model IEnumerable<WebAppAdmin.Areas.Admin.Models.ResourceFile>
@using WebAppAdmin.Areas.Admin.Helpers
@using WebAppAdmin.Areas.Admin.Resources
@using WebAppAdmin.Areas.Admin.Resources.EntityResource
<h1>@_ResourceList.Resource</h1>
<div class="btn-toolbar entity-list-toolbar" role="toolbar">
    <div class="btn-group">
        <button id="create-entity" class="btn btn-default" type="button" title="@_ResourceList.Create">
            <i class="fa fa-plus"></i>
        </button>
    </div>
    <div class="btn-group">
        <button id="delete-entity" class="btn btn-default" type="button" title="@_ResourceList.Delete">
            <i class="fa fa-remove"></i>
        </button>
    </div>
</div>
<table id="entity-list-table" class="table table-bordered entity-list-table">
    <tr>
        <th class="entity-list-table-header entity-list-table-header-selector">
            <input id="select-entity-list" type="checkbox" />
        </th>
        <th class="entity-list-table-header entity-list-table-column">
            @_ResourceList.EntityManagerName
        </th>
        <th class="entity-list-table-header entity-list-table-column">
            @_ResourceList.EntityName
        </th>
        <th class="entity-list-table-header entity-list-table-column">
            @_ResourceList.CultureName
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="entity-list-item">
            <td class="entity-list-item-selector">
                <input type="checkbox" class="entity-selector" />
                <input type="hidden" value="@item.Name" class="entity-id" />
            </td>
            <td>@item.EntityManagerName</td>
            <td>@item.EntityName</td>
            <td>@item.CultureName</td>
        </tr>
    }
</table>
@if (Model.Count() == 0)
{
    <br />
    <div class="alert alert-info" role="alert">@Messages.No_data_are_available</div>
}
<div id="panel-modal" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">@_ResourceList.CultureName</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger hidden" role="alert">
                    @_ResourceList.The_cultures_are_not_selected
                </div>
                <div class="modal-body-content">

                </div>
            </div>
            <div class="modal-footer">
                <button id="create-recources-btn" type="button" class="btn btn-primary" data-dismiss="modal">@_ResourceList.Create</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@_ResourceEdit.Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="culture_item_tmpl">
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" name="Name" value=""> <strong>@_ResourceList.Default.ToLower()</strong>
            </label>
        </div>
    </div>
    <%
    var item = null;
    for (var i = 0, length = cultureList.length; i < length; i++) {
    item = cultureList[i];
    %>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" class="add-props-selector" name="Name" value="<%=item.Name%>"> <strong><%=item.Name%></strong>
            </label>
        </div>
    </div>
    <% } %>
</script>
<script src="~/Areas/Admin/Content/js/resource-list.js"></script>

