﻿@using WebAppAdmin.Model.Core
@using WebAppAdmin.Areas.Admin.Resources
@using WebAppAdmin.Areas.Admin.Resources.Shared
@{
    ViewBag.Title = _Layout.EntityResources;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-2">
        <div id="metamodel-items-panel" class="panel panel-default">
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="@Url.Action("Index", new { entityName = "Resource", mode = "list" })" class="router-link">Resource</a></li>
                    <li><a href="@Url.Action("Index", new { entityName = "Culture", mode = "list" })" class="router-link">Culture</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="content" class="col-md-10">
    </div>
</div>
